/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
}
.blackBar {
    background: black;
    color: white;
    width: 100%;
    height: 50px;
	
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
	display: none;
}
.header-content {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

section {
	margin: 50px 0
}

.header-content h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#loginLink {
	text-decoration: none;
	color: black;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.projets {
	position: absolute;
    top: 10px;
    right: 350px;
    display: flex;
    align-items: center;
    gap: 8px;
	display: none;
}

.btn-modifier {
	background: none;
    border: none;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: white;
	width: 600px;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	text-align: center;
}

.close {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 24px;
	cursor: pointer;
}

.modal-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 20px;
}

.modal-item {
    position: relative;
}

.modal-item img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 5px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn img {
    width: 14px;
    height: 14px;
}

.line {
	width: 90%;
    height: 2px;
    background: #d3d3d3;
    margin: 10px auto;
    border-radius: 2px;
}

.add-photo-btn {
	margin-top: 30px;
	padding: 7px 30px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

#modal-add-content {
	display: none;
	background: white;
	width: 600px;
	padding: 30px;
	border-radius: 10px;
	position: relative;
}

#modal-add-content h2 {
	color: rgba(0, 0, 0, 1);
	font-size: 26px;
	font-family: Work Sans;
}

.modal-body-content {
	display: block;
	flex-direction: column;
	width: 75%;
	margin: 0 auto;
}

.upload-box {
    background: #eef6f9;
    border-radius: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px;
    margin-bottom: 26px;
  }

.upload-box img {
	color: gray;
	width: 150px;
	height: auto;
}

.upload-btn {
    background: #d1dce5;
    border: none;
	width: 50%;
	text-align: center;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.upload-info {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

/* Champs */
label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #333;
	margin-bottom: 10px;
}

input,
select {
	width: 100%;
    height: 48px;
    padding: 0 14px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    appearance: none;
	box-sizing: border-box;
}

.valider {
	width: 200px;
	height: 36px;
	margin-top: 30px;
	padding: 7px 30px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 25px;
	display: none;
    margin: 20px auto;
    cursor: not-allowed;
	cursor: pointer;
}

.valider-inactive {
	width: 200px;
	height: 36px;
	margin-top: 30px;
	padding: 7px 30px;
	background-color: rgba(167, 167, 167, 1);
	color: white;
	border: none;
	border-radius: 25px;
	display: block;
    margin: 20px auto;
    cursor: not-allowed;
}

.back-arrow {
	position: absolute;
	left: 20px;
	top: 15px;
	font-size: 24px;
	cursor: pointer;
}

.filters {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.filters button {
	background-color: transparent;
	color: rgba(29, 97, 84, 1);
	border-color: rgba(29, 97, 84, 1);
	width: auto;
	border-radius: 60px;
	padding: 10px 20px;
	font-weight: 700;
	font-size: 16px;
	border: 2px solid rgba(29, 97, 84, 1);
	cursor: pointer;
	outline: none;
	text-align: center;
	font-family: Syne;
}

.filters button:hover {
	background-color: rgba(29, 97, 84, 1);
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

